.searchInputContainer {
  display: flex;
}

.results {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;

}

.movieItem {
  width: 100%;
}

@media screen and  (min-width: 769px){
  .movieItem {
    width: 23%
  }
}