.movieItem {

}

.poster {
  height: auto;
  width: 100%;
}

.content {
  text-align: left;
  padding: 0 10px 15px 10px;
}

.title {
  font-size: 0.8rem;
  composes: ellipsis;
}

.actions {
  position: absolute;
  top: 10px;
  right: 10px;

  > * {
    margin-left: 6px;
  }
}
